* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Mina', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body.homepage{
  background: url('http://placehold.it/1500x2500') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.secondary-font{
  font-family: 'Rozha One', serif;
}

.container{
  margin: auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.5);
  -webkit-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

.logo {
  height: 45px;
  float: left;
  font-family: 'Rozha One', serif;
}

.logo > a {
  display: inline-block;
  height: 100%;
  line-height: 45px;
  color: #fff;
  font-size: 24px;
}

nav{
  height: auto;
  font-size: 0;
  float: right;
  display: inline-block;
  text-align: right;
}

nav > a {
  height: 100%;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  line-height: 45px;
}

nav > a:hover, nav > a.active{
  background-color: rgba(0,0,0, 0.75);
}

section{
  width: 100%;
  height: auto;
  margin: 25px auto;
}

.section-title{
  margin-bottom: 15px;
}

.image-responsive{
  width: 100%;
  height: auto;
  display: block;
}

.page-banner{
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.page-banner:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0, 0.75);
}

@media (min-width: 1960px){
  .page-banner{
    height: 600px;
  }
}

@media (min-width: 720px) and (max-width: 1959px){
  .page-banner{
    height: 450px;
  }
}

.page-banner > .banner-title {
  color: #fff;
  font-size: 32px;
  text-shadow: 2px 0px 15px #666;
  opacity: .5;
  z-index: 1;
}

@media (min-width: 720px){
  .page-banner > .banner-title {
    font-size: 60px;
  }
}

.about-banner{
  background: url('../images/about/banner.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.history-image{
  max-width: 250px;
  float: left;
  padding-right: 10px;
}

.tour-dates-banner{
  background: url('../images/tour-dates/banner.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
